<div class="row">
	<br><br>
		<h1 style="text-align: center; color: #f17376"><b>Un Aventon!©</b></h1><br><br>
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<h3>¿Quienes somos?:</h3>
		<p style="text-align: justify; font-size: 20px;">
			Somos un grupo dedicado a intentar, mediante nuestros servicios, mejorar su posibilidad de asdlkasdmasdkasd
			asdlaksdjkalsdjkasdl.
			asdklasdajsdlkasdkja alskdalskdjaslkdjalskd alskdjlsdkald laksdjalskd jalsdkj alsd alksdjlksdjlskadalj laksjdlasdj lasdjlaksd aldjalskjdalskd jld kajsldkajsldkasjdlkajsd laksdjalsdj alskd 
		</p>

	</div>

	<div class="col-md-3">
		<h3 style="margin-left: 30px"> Contactanos: </h3>
		<h4 style="margin-left: 30px"> <b>E-mail:</b> unaventon1@gmail.com </h4>
	</div>
	<div class="col-md-1"></div>
</div>