<% provide(:titulo, 'Un aventon!') %>

<% if @trips.empty? %>
  <h1>No hay viajes, <%= link_to ' crea uno!', '#' %></h1>
<% else %>
  <% @trips.each do |t| %>
    <!-- Aca va el codigo de mostrar viaje -->
  <% end %>
<% end %>
