<div class="row">
  <div class="col-md-12"></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10", style="background-color: #fafafa;">
             <%= render 'partials/partialsTrips/allTrips' %>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br><br><br>
<br><br><br>
