<% provide(:titulo, "Viaje a "+@trip.destino.downcase) %>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br>
    <%= render 'partials/partialsTrips/showTripsInfo' %>
    <br>
    <ul class="nav nav-pills nav-justified">
      <li><a class="a1" data-toggle="tab" href="#home">Aceptados</a></li>
      <li><a class="a2" data-toggle="tab" href="#menu1">Postulantes</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <%= render 'partials/partialsTrips/showTripsAcept' %>
      </div>
      <div id="menu1" class="tab-pane fade">
        <%= render 'partials/partialsTrips/showTripsPostul' %>
      </div>
    </div>
    <br><br><br>
  </div>
  <div class="col-md-2">
  </div>
</div>