<footer class="footer">
	<nav>
	 <ul>
		  <copyright class="copy"> Un Aventon! &copy;</copyright>
		  <li> <%= link_to 'Contacto','#',:class => "isDisabled" %></li>
		  <li> <%= link_to 'Ayuda', '#',:class => "isDisabled" %></li>
	 </ul>
	</nav>
</footer>
