<footer class="footer my-footer" >
	<nav>
	<ul>
		<copyright> Un Aventon! </copyright>    
		<li> <%= link_to 'Contacto','#' %></li>      
		<li> <%= link_to 'Ayuda', '#' %></li>
	</ul>
	</nav>
</footer>