<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>Logo</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a><%= link_to "Inicio", root_path %></a>
        <% if user_signed_in? %>
          <a> <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></a>
        <% else %>
          <a><%= link_to 'Crear cuenta', new_user_registration_path %></a>
          <a><%= link_to 'Iniciar sesión', new_user_session_path %></a>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
