<div class="row">
  <div class="col-md-12">
    <% if @user.eliminado %>
      <div class="page-header">
        <h1>Este usuario ya no existe</h1>
      </div>
    <% elsif !@user.confirmed_at %>
      <h1>Este usuario todavia no confirmo su mail</h1>
    <% else %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-2">
              <% provide(:titulo, 'Postulaciones de '+@user.nombre+' '+@user.apellido) %>
              <%= render 'partials/partialsUser/informacionUser' %>
              <%= render 'partials/partialsUser/botonesPerfilPostulaciones' %>
            </div>
            <%= render 'partials/partialsUser/mostrarPostulaciones' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br><br><br>
