<div class="col-md-10">
  <div class="row">
    <div class="col-md-1">
      <!-- columna separadora -->
    </div>
    <div class="col-md-10" style="background-color: #fafafa">
      <h1 style="text-align: center;">
        Ultimos Viajes
      </h1>
      <div class="row">
        <div class="col-md-1">
          <!-- div separador -->
        </div>
        <div class="col-md-10">
          <!-- completar con estructura pa ra poner viajes como objetos dentro -->
          <h3>
            No has realizado viajes todavia :(
          </h3>
          <p>
            <ul>
              <%= link_to 'Crea un viaje', new_user_trip_path(current_user) %>
            </ul>
            <ul>
              <%= link_to 'Mira los viajes disponibles', root_path %>
            </ul>
          </p>
                      <!-- <div class="jumbotron my-jumbotron">
                        <h3 style="align-content: center;">
                          Nombre de Ciudad Origen - Nombre de Ciudad Destino
                        </h3>
                        <div class="row">
                          <div class="col-md-4">
                            <h5>
                              Fecha: dd/mm/aaaa
                            </h5>
                            <h5>
                              Hora: hh:mm
                            </h5>
                            <h5>
                              Piloto: nombre_usuario
                            </h5>
                          </div>
                          <div class="col-md-8">
                            <h4>
                              Esta es una descripcion del viaje realizado por asdasddfsrfsdasdesf sedssfsdfsed sdsdef desdsfsd....
                            </h4>
                             <ul type="button" class="btn btn-block btn-sm">
                                  <%= link_to 'Ver viaje', '#',:class => "btn btn-block btn-sm my-button-color my-link-button" %>
                              </ul>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="jumbotron my-jumbotron">
                        <h3 style="align-content: center;">
                          Nombre de Ciudad Origen - Nombre de Ciudad Destino
                        </h3>
                        <div class="row">
                          <div class="col-md-4">
                            <h5>
                              Fecha: dd/mm/aaaa
                            </h5>
                            <h5>
                              Hora: hh:mm
                            </h5>
                            <h5>
                              Piloto: nombre_usuario
                            </h5>
                          </div>
                          <div class="col-md-8">
                             <h4>
                                Esta es una descripcion del viaje realizado por asdasddfsrfsdasdesf sedssfsdfsed sdsdef desdsfsd....
                              </h4>
                              <ul type="button" class="btn btn-block btn-sm">
                                <%= link_to 'Ver viaje', '#',:class => "btn btn-block btn-sm my-button-colo mbtn btn-block btn-sm my-button-coloy-link-button" %>
                              </ul>
                          </div>
                        </div>
                      </div> -->

                    </div>
                    <div class="col-md-1">
                      <!-- div separador -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
