<div class="col-md-1">
</div>
<div class="col-md-10" style="background-color: #fafafa">
  <h1 style="text-align: center;">
    Ultimos Viajes
  </h1>
  <div class="row">
    <div class="col-md-1">
      <!-- div separador -->
    </div>
    <div class="col-md-11">
      <br>
      <h3 style="text-align: center;">Proximamente habilitado y funcionando</h3>

      <!-- completar con estructura pa ra poner viajes como objetos dentro -->
   <!--    <h3>
        No has realizado viajes todavia :(
      </h3>
      <p>
        <ul>
          <%= link_to 'Crea un viaje', new_user_trip_path(current_user) %>
        </ul>
        <ul>
          <%= link_to 'Mira los viajes disponibles', root_path %>
        </ul> -->
      </p>
    </div>
  </div>
</div>
<div class="col-md-1">
</div>
