<br>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		<% if @calification.empty? %>
			<h4 style="text-align: center;"> No debe calificaciones a otros usuarios. </h4>
		<% else %>
			<% @calification.each do |calif| %>
			 	<div class="well-sm my-jumbotron">
			 		<div class="row">
			 			<div class=" col-md-9">
			 			<% if calif.tipo_calificacion == 'p' %>
			 				<b>Piloto: </b>
			 			<% else %>
			 				<b> Copiloto: </b>
			 			<% end %>
			 			<%= link_to image_tag(calif.calificado.avatar,:class=>"circular-image post-image", :alt=>'Avatar')+'  '+ usernameOf(calif.calificado), user_path(calif.calificado) %><br>
			 			</div>
			 			<div class="col-md-3">
			 			<%= link_to 'Calificar', edit_user_score_path(current_user, calif), :class => "btn btn-block btn-sm colapso my-link-button" %>
			 			</div>
			 		</div>
			 	</div>
			 	<br>
			<% end %>
		<% end %>
		<div class="pagination-wrapper">
        <div class="pagination">
          <%= will_paginate @calification, previous_label: 'Página anterior', next_label: 'Página siguiente' %>
        </div>
      </div>
	</div>
	<div class="col-md-1">
	</div>
</div>