<p>El viaje a <%= @viaje.destino %> al que habías sido aceptado, ha sido cancelado</p> <br>
<STRONG><p>Detalles:</p></STRONG><br>
<%= @viaje.fecha_salida %><br>
<%= @viaje.hora_salida %><br>
<%= @viaje.origen %><br>
<p>Disculpe las molestias </p>