@import 'bootstrap-sprockets';
@import 'bootstrap';

/*------------------------Mensajes-------------------------*/
/* Mensaje rojo de fallo */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
 /* Mensaje amarillo de alerta */
.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
 /* Mensaje verde de exito */
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 /* Mensaje azul de aviso */
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
/*------------------Fin estilos mensajes-------------------*/



/*-------------------Estilos del header--------------------*/
.navbar-default {
    background-color: #F17376;
    border-color: #F18973;
}
.navbar-left{
    color: #F17376 !important;
}
.navbutton{
    text-decoration: none;
    color: #000 !important;
    &:hover {
        text-decoration: none;
        color: #000 !important;
    }
}
.my-navbar{
    a {
        color: #F1F0F0 !important;
    }
}
.navbar-nav.navbar-center{
	position: absolute;
	left: 25%;
	transform: translateX(-75%);
}
.my-button{
	border-radius: 10%;
    background-color: #fafafa
}

.my-button-color{
    background-color: #F17376;
    text-align: center;
}

/*----------------Fin estilos del header-------------------*/

/*----------------Estilos de imagenes----------------------*/
.small-image{
    width: 20px;
    height: 20px;
}
.circular-image{
    border-radius: 50%;
}
.mediumm-image{
    width:175px;
    height:175px;
}
/*----------------Fin estilos de imagenes------------------*/


/*-----------------Estilos de formularios------------------*/
.centering {
    float: none;
    margin: 0 auto;
    width: 50%;
}
.flotar-medio {
    text-align: center;
}
.colapso {
    background-color: red;
    padding: 5;
    &:hover {
        background-color: #DD0000;
    }
    &:click {
        background-color: none;
    }
}
/*---------------Fin estilos de formularios----------------*/

/*---------------Estilos de botones y jumbotrones----------*/
.my-link-button{
    text-decoration: none;
    color: #F1F0F0;
    &:hover {
        text-decoration: none;
        color: #F1F0F0;
    }
}

.my-jumbotron{
    background-color: #f2dede;
}

/*---------------Fin estulos de botones y jumbotrones------*/