@import 'bootstrap-sprockets';
@import 'bootstrap';

/*------------------------Mensajes-------------------------*/
/* Mensaje rojo de fallo */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
 /* Mensaje amarillo de alerta */
.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
 /* Mensaje verde de exito */
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 /* Mensaje azul de aviso */
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
/*------------------Fin estilos mensajes-------------------*/



/*-------------------Estilos del header--------------------*/
.navbar-default {
    background-color: #F17376;
    border-color: #F18973;
}
.navbar{
    a {
        color: #000 !important;
    }
}
.navbar-nav.navbar-center{
	position: absolute;
	left: 15%;
	transform: translateX(-85%);
}
.my-button{
	border-radius: 10%;
}

.circular-image{
	border-radius: 50%;
}
.mediumm-image{
	width:200px;
	height:200px;
}
.small-image{
	width: 20px;
	height: 20px;
}
/*----------------Fin estilos del header-------------------*/
