<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos estamos comunicando contigo para notificarte que tu email sería cambiado por  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos estamos comunicando contigo para notificarte que tu email fue cambiado por: <%= @resource.email %>.</p>
<% end %>