<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido cambiar la contrase침a de tu cuenta de Un Avent칩n!. Si has sido tu, puedes modificarla siguiendo el siguiente enlace:</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tu, por favor ignora este email.</p>
<p>Tu contrase침a no va a ser cambiada a menos que ingreses en el enlace y pongas una nueva.</p>
