<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta fue blockeada debido a un excesivo numero de accesos sin éxito.</p>

<p>Sigue el siguiente elace para desbloquearla:</p>

<p><%= link_to 'Desbloquear cuenta', unlock_url(@resource, unlock_token: @token) %></p>
